* {
    scroll-behavior: smooth;
}

body {
    background-color: #222831;
    margin: 0;

}

.header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-content: center;
    top: 0vh;
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    background-color: #393E46;
    z-index: 2;

}

.header nav {
    display: flex;
    justify-content: center;
    align-content: center;
}

nav a {
    text-decoration: none;
    height: fit-content;
}

.navButton {
    margin: 2vh;
    padding: 1vh;
    border-radius: 6%;
    background-color: #393E46;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 2vh;
    font-style: normal;
    height: 50%;
    width: auto;
    cursor: pointer;
    padding: 15px;
}

#navButton1 {
    animation: indice linear;
    animation-timeline: view();
    animation-range: 0vh 190vh;
}

#navButton2 {
    animation: indice linear;
    animation-timeline: view();
    animation-range: 190vh 370vh;
}

#navButton3 {
    animation: indice linear;
    animation-timeline: view();
    animation-range: 370vh 500vh;
}

.navButton:hover {
    background-color: #2c3038;
    color: #00ADB5;
}

Header h1 a img {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

main {
    margin-top: 20vh;
}

main div section {
    min-height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.introweb {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49vw, 1fr));
    grid-template-rows: 600px;
    justify-items: center;
}

.introweb div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: #EEEEEE;
    margin-left: 5vw;
    margin-right: 20px;
}

.introweb img {
    height: 100%;
    max-width: fit-content;
}

main> :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49vw, 1fr));
}

.ofertas div {
    display: flex;
    justify-content: center;
}

.ofertas div:nth-child(3) {
    position: relative;
}

.ofertas div:first-child {

    grid-column: span 2;
}

.ofertas div:nth-child(4) {

    grid-column: span 2;
}

.ofertas .coverpromo {
    cursor: pointer;
    display: block;
    width: 460px;
    height: 460px;
    border-radius: 10px;
}

.ofertas .backcoverpromo {
    cursor: pointer;
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 10px;
}

.ofertas .comprapromo {
    cursor: pointer;
    display: block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.pulsepromo::after {
    content: "";
    background-color: #00ADB5;
    width: 230px;
    height: 230px;
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    top: 0;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.exitos {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    justify-content: center;
    grid-template-rows: 250px;
}

@media (width > 1000px) {

    .exitos {
        grid-template-columns: repeat(4, 230px);
    }

    .introweb img {
        width: 55vw;
    }
}



.topsongs {
    cursor: pointer;
    width: 230px;
    height: 230px;
    border-radius: 10px;
}


#reproductor {
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    justify-content: center;
}

#reproductor div button {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0.1px;
    border-radius: 10px;

}

#reproductor div img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

/*CSS especifico para la pagina de compra e info de discos*/

.maininfo {
    margin-top: 10vh;
    font-size: x-large;
    color: #EEEEEE;
    margin-left: 5vh;
    margin-right: 5vh;

}

.infodisc {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: max-content;
    text-align: center;
}

.infosongs section {
    grid-template-columns: 1fr;
}


.infosongs section div {

    background-color: #393E46;
    border-radius: 10px;
    padding: 10px;
}



.comprar section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-right: 400px;
}

.buynow img {
    width: 400px;
    border-radius: 50%;
    position: absolute;
}

.buynow::after {
    content: "";
    background-color: #393E46;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@media (width > 1700px) {
    #navButton1 {
        animation: indice linear;
        animation-timeline: view();
        animation-range: 0vh 129vh;
    }

    #navButton2 {
        animation: indice linear;
        animation-timeline: view();
        animation-range: 130vh 209vh;
    }

    #navButton3 {
        animation: indice linear;
        animation-timeline: view();
        animation-range: 210vh 300vh;
    }

    .infodisc {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(800, 1fr));
        justify-items: center;
        grid-template-rows: max-content;
        margin-left: 10vh;
        margin-right: 10vh;
        font-size: xx-large;
    }

    .infodisc h3 {
        grid-column: span 2;

        text-align: center;
    }

    .infodisc p {
        display: block;
        margin-left: 10vh;
        padding: 15vh;
        margin-top: -10vh;

    }

    .infodisc h4 {
        grid-row: 3;
        margin-top: -10vh;
        margin-left: 10vh;

    }

    .infosongs section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .infosongs section h3 {
        grid-column: span 3;
    }

    .comprar section {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        margin-right: 400px;
    }
}

.albumscover {
    width: 60vh;
    border-radius: 10px;
}

@keyframes vanish {

    100% {
        background-color: rgb(216, 24, 49, 0);
        backdrop-filter: blur(5px);
        transform: translateY(-5vh);
        content-visibility: hidden;
    }
}

@keyframes pulse {
    0% {

        opacity: 1;
    }

    50% {
        scale: 1.1;
        opacity: 1;
        border-radius: 50%;
    }

    100% {
        rotate:90deg;
        opacity: 1;
    }

}

@keyframes indice {

    0%,
    100% {
        color: #00ADB5;
        background-color: #2c3038;
    }
}